* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* this is header section */
.main-container {
    background-color: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-header {
    /* width: 708px; */
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
}

.header-paragraph {
    /* width: 634px; */
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    border: none;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;

}

.header-pic {
    width: 635px;
    height: 800px;
}

/* This is Featured section */
.featured-title {
    margin-top: 130px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.featured-head {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.featured-dis {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* this is featured box section */
.featured-box-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 240px 100px;

}

.box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}

.box2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 0px 24px;
}

.box3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.box-paragraph {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 25px;
}

.box-photo {
    padding: 110px 78px 0px 76px;
}

.box-photo2 {
    padding: 117px 47px 51px 47px;
}

.box-photo3 {
    padding: 67px 75px 0px 75px;
}

/* this is hot deal section */
.bg-hot {
    background-color: rgba(229, 84, 115, 0.05);
}

.hot-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 100px 30px;

}

.hot-text {
    padding-left: 30px
}

.hot-header {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.hot-span {
    color: #E55473;
}

.hot-dis {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.hot-btn {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
}

.hot-pic {
    width: 318px;
    height: 420px;
}

/* this is instagram section */
.insta {
    text-align: center;
    justify-content: space-around;
    margin: 130px 0px 30px 0px;
}

.insta-head {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.insta-dis {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;
}

/* this is instagram box section */
.instagram-box-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 240px 0px;


}

.insta-box {
    width: 342px;
    height: 396px;
    padding: 14px;
}

/* <!-- this is subscribe section --> */
.sub-container {
    background-image: url("/Flower/Rectangle9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin: 128px 240px;

}

.sub-head-text {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 16px;
}

.sub-para {

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}

.sub-input {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    
}

.sub-btn {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    border: none;
    margin-left: 16px;

}

/* this is Flower shop section */
.shop-conteiner {
    height: 449px;
    background: #111010;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.shop-header {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 24px;
}

.shop-color {
    color: white;
}

.shop-para1 {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}

.shop-para2 {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}