* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* this is header section */
.main-container {
    background-color: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-header {
    /* width: 708px; */
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
}

.header-paragraph {
    /* width: 634px; */
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    border: none;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;

}

.header-pic {
    width: 635px;
    height: 800px;
}

/* This is Featured section */
.featured-title {
    margin-top: 130px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.featured-head {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.featured-dis {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* this is hot deal section */
.bg-hot {
    background-color: rgba(229, 84, 115, 0.05);
}

.hot-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 100px 30px;

}

.hot-text {
    padding-left: 30px
}

.hot-header {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.hot-span {
    color: #E55473;
}

.hot-dis {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.hot-btn {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
}

.hot-pic {
    width: 318px;
    height: 420px;
}

/* this is instagram section */
.insta {
    text-align: center;
    justify-content: space-around;
    margin: 130px 0px 30px 0px;
}

.insta-head {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.insta-dis {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;
}

/* this is instagram box section */